<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>124095886756-k9cciq4h8g5np1n86viucnrdvjsgem67.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.124095886756-k9cciq4h8g5np1n86viucnrdvjsgem67</string>
	<key>API_KEY</key>
	<string>AIzaSyAyZqoSF0q-OeghQAX9Go3rj6Bh0WgzGpg</string>
	<key>GCM_SENDER_ID</key>
	<string>124095886756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.boardclass.sample</string>
	<key>PROJECT_ID</key>
	<string>car-shop-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>car-shop-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:124095886756:ios:159ecf6d1d83aec7fb3d31</string>
</dict>
</plist>